@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-2xl: 1440px;

  --font-roboto: 'Roboto', sans-serif;
  --font-pretendard: 'Pretendard', sans-serif;
  --font-manrope: 'Manrope', sans-serif;

  --color-background: #f4f4f4;
  --color-dark-background: #212121;

  --color-light-gray: #d1d1d1;
  --color-gray: #aaaaaa;
  --color-dark-gray: #111111;

  --color-primary: #f7f168;

  --animate-marquee: marquee 25s linear infinite;
  --animate-marquee2: marquee2 25s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

@tailwind base;
@layer base {
  html,
  body,
  #root {
    height: 100%;
    min-width: 320px;
    font-family: 'Roboto', 'Pretendard', sans-serif;
  }

  body,
  #root {
    @apply bg-background dark:bg-dark-background transition-all duration-300 ease-in-out;
  }
}

@tailwind utilities;
@layer utilities {
  .absolute-position-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transform;
  }

  .transition-default-all {
    @apply transition-all duration-300 ease-in-out;
  }

  .theme-background-color {
    @apply bg-background dark:bg-dark-background transition-all duration-300 ease-in-out;
  }

  .theme-text-color {
    @apply text-black transition-all duration-300 ease-in-out dark:text-white;
  }

  .bento {
    @apply rounded-[24px] transition-all duration-300;
  }

  .p-bento {
    @apply p-[24px] lg:p-[32px];
  }

  .px-bento {
    @apply px-[24px] lg:px-[32px];
  }

  .py-bento {
    @apply py-[24px] lg:py-[32px];
  }
}

@tailwind components;
@layer components {
  .timeline-card {
    @apply relative flex w-full flex-col items-start gap-[16px];
  }
}
